.cards-cont{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(245,246,250);
}

.green{
  border: 9px solid green;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.green-button{
  border: 1px solid green;
}

.purple{
  border: 9px solid purple;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.closed {
  border: 1px solid rgb(24, 23, 24);
}